body {
    width: 100vw;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-image: url("../images/Cyberbullying (1).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #Logo {
    width: 10%;
}

h1 {
    color: black;
    font-family: 'Calibri', sans-serif;
    width: 400px;
    display: inline-block;
}

.testemonial-container {
    margin-top: 30px;
    background-color: #004e97;
    height: 300px;
    width: 150%;
}

h2 {
    color: black;
    font-family: 'Calibri', sans-serif;
    font-size: 25px;
}

#header-btn {
    background-color: #004e97;
    color: #000000;
    text-decoration: none;
    width: 280px;
    height: 85px;
    display: inline-block;
    border-radius: 75px;
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card-body img {
    width: 100%;
    height: auto;
    border-radius: auto;
    margin-bottom: auto;
    margin-top: auto;
}

h3 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p {
    color: black;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

h4 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p {
    color: black;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #004e97;
    text-align: left;
    padding: 3px;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#footer-btn {
    background-color: #004e97;
    color: #000000;
    text-decoration: none;
    width: 90px;
    height: 45px;
    display: inline-block;
    border-radius: 30px;
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}

.final-text a {
    display: block;
    height: auto;
}

.informations-container {
    padding: 10px;
    width: fit-content;
    border-radius: 16px;
    background-color: #004e97;
}

header {
    display: flex;
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.menu-container li {
    list-style-type: none;
    margin-top: 20px;
}
